################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Day1WebApi.slnx
/Day1WebApi/bin/Debug/net10.0
/Day1WebApi/bin/Release/net10.0
/Day1WebApi/obj
/.vs/ProjectEvaluation
/.vs/Day1WebApi/CopilotIndices/18.7.1244.59975
/.vs/CopilotSnapshots/4D266981A3363342891BF4B70A19EE99
/Day1WebApi/Day1WebApi.db
/Day1WebApi/Day1WebApi.db-shm
/Day1WebApi/Day1WebApi.db-wal
/release
/Day1WebApi/logs
/publish
/Day1WebApi/Day1WebApi-release.db
/Day1WebApi/logs
/Day1WebApi/logs-release